@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #585e6a;
}
.blog_card{
    margin: 25px auto;
    max-width: 1200px;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
}